version: 2
updates:
    - package-ecosystem: "npm"
      directory: "/"
      schedule:
          interval: "weekly"
          day: "sunday"
          time: "22:00"
          timezone: "UTC"
      groups:
          all-dependencies:
              patterns:
                  - "*"
      commit-message:
          prefix: "build(deps)"
          include: "scope"
      labels:
          - "dependencies"
          - "npm"
    - package-ecosystem: "github-actions"
      directory: "/"
      schedule:
          interval: "weekly"
          day: "sunday"
          time: "22:00"
          timezone: "UTC"
      groups:
          all-dependencies:
              patterns:
                  - "*"
      commit-message:
          prefix: "ci"
          include: "scope"
      labels:
          - "dependencies"
          - "github-actions"
